body{
    background-image: url('../img/duvar.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 15px;
    color: gold;
}

.info{
    border: 2px dotted red;
    height: 200px;
    overflow-y: scroll;
    color:blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    background-image: url('../img/defter.jpg');
    background-repeat: repeat;
    padding: 10px 10px 0 10px;
}

.img-with-text{
    overflow: hidden;
    position: relative;
}
.img-bg > img {
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.img-text{
    padding: 15px 5px 5px 15px;
    position: relative;
    font-weight: 700;
    color:royalblue;
}

table, th, td {
    color: black;
    /* border:2px solid red; */
    border-collapse: collapse;
    text-align: center;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #f2f2f281;
} */

/* td:nth-child(even), th:nth-child(even) {
    background-color: #f2f2f2;
}

td:nth-child(odd), th:nth-child(odd) {
    background-color: #f2f2f281;
} */

tr {
    background-color: #f2f2f2;
    border-bottom: 1px solid #02c;
}
tr:hover {
    background-color: #67eef3a2;
}