body{
    background-image: url('../img/duvar.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 15px;
    color: gold;
}

.info{
    border: 2px dotted red;
    height: 200px;
    overflow-y: scroll;
    color:blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    background-image: url('../img/defter.jpg');
    background-repeat: repeat;
    padding: 10px 10px 0 10px;
}