body{
    background-image: url('../img/duvar.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 15px;
    color: gold;
}

.info{
    border: 2px dotted red;
    height: 200px;
    overflow-y: scroll;
    color:blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    background-image: url('../img/defter.jpg');
    background-repeat: repeat;
    padding: 10px 10px 0 10px;
}

.img-with-text{
    overflow: hidden;
    position: relative;
}
.img-bg > img {
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.img-text{
    padding: 15px 5px 5px 15px;
    position: relative;
    font-weight: 700;
    color:royalblue;
}